body{
  font-family: Arial, Helvetica, sans-serif;
 /* background-image: url(..//assets/background.jpg); */
}
.Navbar {
  background-color:#e75575;
  display: flex;
  padding: 16px;
  font-family: sans-serif;
  color: white;
}
.Navbar__Link a {
 text-decoration: none;
 color: rgb(255, 255, 255);
}
.Navbar__Link a:hover{
  color:#3333;
  font-weight: bold;

 }
.Navbar__Link  {
  padding-right: 8px;
  
  padding: 5px;
}

.Navbar__Items {
  display: flex;
}

.Navbar__Items--right {
  margin-left:auto;
}

.Navbar__Link-toggle {
  display: none;
}








@media only screen and (max-width: 880px) {
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }
    
.Navbar__Items {
    display:none;
  }
    
.Navbar__Items--right {
    margin-left:0;
  }
    
.Navbar__ToggleShow {
    display: flex;
  }
    
.Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
   } 
}

/*content*/
.content{
  padding-top: 20px;
  display: flex;  
  flex-direction: column;
 
}
.box1{
  display: flex;   
  padding-top: 20px;  
  margin: auto;  
  justify-content: center;
  
  width: 90%;
  height: auto;
  max-width: 90%;
  flex-direction: row;
}

.text1{
 padding-left: 15px;
  font-size: 30px;
}
/*empty1*/
.empty1{
  background-color: #ff9ad5;
  margin-top: 10px;
  padding-left:10px ;
  height: 65px;
}
.about{
  display: flex;   
  padding-top: 20px;  
  margin: auto;  
  justify-content: center;
  background-color:a7a7a7;
  width: 90%;
  height: auto;
  max-width: 90%;
  flex-direction: row;
}
.empty2{
  background-color: #ff9ad5;
  margin-top: 10px;
  padding-left:10px ;
  height: 65px;
}
.empty2{
  margin-bottom: 10px;
}
.box3{
 
    display: flex;   
    padding-top: 20px;  
    margin: auto;  
    justify-content: center;
    
    width: 90%;
    height: auto;
    max-width: 90%;
    flex-direction: row;
  padding: 10px;
}
.webbox
{
  padding-right: 10px;
}
.logobox
{
  padding-right: 10px;
}
.empty3{
  background-color: #ff9ad5;
  margin-top: 10px;
  padding-left:10px ;
  height: 65px;
}
.box4{

  height:600px;

  display: flex;   
  padding-top: 20px;  
  margin: auto;  
  justify-content: center;
  
  width: 90%;
  height: auto;
  max-width: 90%;
  flex-direction: row;
}
.post1{
  padding: 5px;
  border-style: solid;
  border-radius: 4px;

}
.empty3{
  margin-bottom: 10px;
}
.post1,img{
  width: 350px;
  
}
.post2{
  margin-left: 10px;
  padding: 5px;
  border-style: solid;
  border-radius: 4px;

}
.post2,img{
  width: 350px;
  
}
.post3{
  padding: 5px;
  margin-left: 10px;
  border-style: solid;
  border-radius: 4px;

}
.post3,img{
  width: 350px;
  
}
.theam{
  background-color: #ff9ad5;
  margin-top: 20px;
  padding-left:10px ;
  height: 65px;
  margin-bottom: 10px;
}

.empty4{
  display: flex;   
  padding-top: 20px;  
  margin: auto;  
  justify-content: center;
  background-color:a7a7a7;
  width: 90%;
  height: auto;
  max-width: 90%;
  flex-direction: row;
}
.person1{
  height: 270px;
}
.person1 img{
  width: 20%;
  border-radius: 50%;
}
.person2 img{
  border-radius: 50%;
  width: 20%;
}
.button{
  margin: 7px;
  padding: 10px;
  background-color: #222;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button,a{
  text-decoration: none;
  color: #eee;
}
.button:hover{
 
  background-color:rgb(97, 97, 97) ;
}


/*responsive*/
@media (max-width: 880px) {
.box1{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  justify-content: center;
}
.empty1{
text-align: center;
}
.imagebox1{
  display: flex;
  justify-content: center;
  margin: auto;  
 
  
}
.text1{
  display: flex;
  justify-content: center;
  margin: auto;  
  font-size: 30px;
}
.about{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  justify-content: center;
}
.empty2{
  text-align: center;
  }
  .empty3{
    text-align: center;
    }
    .empty4{
      text-align: center;
      }
.imagebox2{
  display: flex;
  justify-content: center;
  margin: auto;  
 
  
}
.textbox2{
  display: flex;
  justify-content: center;
  margin: auto;  
  font-size: 30px;
}
.box2{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  justify-content: center;
}

.box3{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  justify-content: center;
}
.webbox {
  display: flex;
  justify-content: center;
  margin: auto;  
}
.logobox {
  display: flex;
  justify-content: center;
  margin: auto;  
  padding-top: 5px;
}
.uibox {
  padding-top: 5px;
  display: flex;
  justify-content: center;
  margin: auto;  
}
.box4{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  justify-content: center;
}

.empty4{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  justify-content: center;
}
}








/*modal*/
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color:   #e75575 ; 
  background-color: rgba(255, 142, 230, 0.445); 
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: white;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #e75575;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #464646;
  color: white;
}












/*footer*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}


.footer-distributed{
	background: #e75575;
	box-shadow: 0 1px 1px 0 rgba(236, 104, 104, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #e75575;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}



@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
